:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.projects {
  display: inline;
  max-width: 95vw;
}

.project-card {
  display: inline-flex;
  flex-wrap: wrap;
  width: 48vw;
  margin: 1vw;
}
