:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.project-container {
  width: 45vw;
  background-color: var(--RoseQuartz);
  padding: 0px;
  border-radius: 10px;
  margin: 1vw;
}

.project-header {
  background-color: var(--Honeysuckle);
  font-family: "Wire One", sans-serif;
  font-weight: bold;
  font-size: xx-large;
  color: var(--Ivory);
  border: 0px;
  padding: 1vw;
}

.project-body {
  border: 1px solid var(--Honeysuckle);
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: medium;
  color: var(--Honeysuckle);
  border: 0px;
  padding: 1vw;
  display: inline-flex;
}

.project-image {
  filter: grayscale(1);
  width: 20vw;
  border: 5px solid var(--Teal);
  border-radius: 10px;
}

.project-image:hover {
  border: 5px solid var(--Teal);
  border-radius: 10px;
  filter: grayscale(0);
}

.project-text {
  padding: 1vw;
  margin: 0px;
}
