:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.btn {
  background-color: var(--Ivory);
  font-family: "Wire One", sans-serif;
  font-weight: bolder;
  font-size: x-large;
  color: var(--Honeysuckle);
  box-shadow: var(--Teal) 0px 2px 0px;
  border: 0px;
  border-radius: 100px;
  padding: 1vw;
  width: auto;
  margin: 0.5vw;
}

.btn:hover {
  background-color: var(--Teal);
  color: var(--Ivory);
  box-shadow: var(--Honeysuckle) 0px 2px 0px;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0px 0px 0px;
}

@media screen and (max-width: 812px) {
  .btn {
    width: 23vw;
  }
}
