:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.header {
  background-color: var(--RoseQuartz);
  font-family: "Wire One", sans-serif;
  font-weight: bold;
  font-size: medium;
  color: var(--Honeysuckle);
  border: 0px;
  width: 100vw;
}

@media screen and (max-width: 812px) {
  .header {
    font-size: xx-large;
  }
}
