:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.about-me {
  background-color: var(--Ivory);
  font-family: "Raleway", sans-serif;
  font-size: medium;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 0.5vw;
}

.about-me-image {
  width: 400px;
  height: 400px;
  padding: 0;
  position: static;
}

p {
  padding: 5px;
  margin: 0px;
}

@media screen and (max-width: 812px) {
  .about-me {
    display: block;
  }

  .about-me-image {
    width: 95vw;
    height: auto;
  }
}
