:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.footer {
  background-color: var(--RoseQuartz);
  font-family: "Wire One", sans-serif;
  font-weight: bold;
  font-size: 2vw;
  color: var(--Honeysuckle);
  border: 0px;
  width: 100vw;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  left: 0px;
  bottom: 0px;
}

.footer-images {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-image {
  width: 2vw;
  padding: 0px;
  margin: 1vw;
}

@media screen and (max-width: 812px) {
  .footer {
    font-size: 7vw;
    position: fixed;
    left: 0px;
    bottom: 0px;
  }

  .footer-image {
    width: 6vw;
    padding: 0px;
    margin: 2vw;
  }
}
