:root {
  --RoseQuartz: #f6c8cc;
  --Ivory: #ebf5f7;
  --Honeysuckle: #c15b78;
  --Teal: #5bb0ba;
}

.accordion {
  display: flex;
  width: 65vw;
  margin: 1vw;
}

.MuiAccordionDetails-root {
  padding: 0px;
}
